/* TABLE OF CONTENTS */

/* ITEM 1 */
/* ITEM 2 */
/* ITEM 3 */

/* BASIC STYLES AND COLORS*/
*, 
::before, 
::after {
    box-sizing: border-box;
}

:root{
    font-size: 62.5%;
    --color-black: #000;
    --color-ink: #2c3331;
    --color-white: #ffffff;
    --color-green: #2c594e;
    --color-green-middle: #758981;
    --color-green-light: #edefee;
    --color-yellow: #efb139;

    --header-height: 10vh;
}

img {
    /* display: block; */
    max-width: 100%;
}

.grid {
    display: grid;

}


/* FONT STYLES */

/* OSWALD */
@font-face {
    font-family: 'Oswald';
    src: url('../assets/fonts/Oswald/Oswald-ExtraLight.ttf');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Oswald';
    src: url('../assets/fonts/Oswald/Oswald-Light.ttf');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Oswald';
    src: url('../assets/fonts/Oswald/Oswald-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Oswald';
    src: url('../assets/fonts/Oswald/Oswald-Medium.ttf');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Oswald';
    src: url('../assets/fonts/Oswald/Oswald-SemiBold.ttf');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Oswald';
    src: url('../assets/fonts/Oswald/Oswald-Bold.ttf');
    font-weight: 700;
    font-style: normal;
}

/* MONTSERRAT */
@font-face {
    font-family: 'Montserrat';
    src: url('../assets/fonts/Montserrat/Montserrat-Light.ttf');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../assets/fonts/Montserrat/Montserrat-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../assets/fonts/Montserrat/Montserrat-Bold.ttf');
    font-weight: 700;
    font-style: normal;
}

/* TEXT */
h1 {
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-size: 6.4rem;
    line-height: 7.2rem;
}

h2,
.link--nav {
    font-family: 'Oswald', sans-serif;
    font-weight:600;
    font-size: 2.4rem;
    line-height: 3.4rem;
}

h3,
blockquote {
    font-family: 'Montserrat', serif;
    font-weight: 400;
    font-size: 2.0rem;
    line-height: 2.8rem;
}

blockquote {
    color: var(--color-green);
}

h4 {
    font-family: 'Montserrat', serif;
    font-weight: 300;
    font-size: 1.4rem;
    line-height: 2.2rem;
}

p {
    font-family: 'Montserrat', serif;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 2.4rem;
}

.info {
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    font-size: 1.4rem;
    line-height: 2.0rem;
}

.link {
    font-family: 'Montserrat', serif;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 2.4rem;
    color: var(--color-yellow);
}

.breadcrumb,
.btn {
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 2.4rem;
    text-decoration: none;
    border: none;
    background: var(--color-yellow);
    text-transform: uppercase;
}

.btn:hover {
    cursor: pointer;
}

.breadcrumb:visited:not(.breadcrumb--current) {
    color: inherit;
}

/* IMAGE ASPECT RATIO */

.container {
    border: 1px solid red;
    /* background-color: green; */
    margin: 1.5rem;
}

.container-sides {
    margin: 0 1.5rem;
}

/* SECTIONS */

/* MAIN NAV */
.header {
    background: var(--color-white);
    border: 1px solid red;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--header-height);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    height: 5vh;
}

.nav__items {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    height: 100vh;
    width: 40vw;
    background: var(--color-white);
    transform: translateX(-40vw);
}

.nav--open.nav__items{
    transform: translateX(0)
}

.nav__subcategory {
    display: none;
}

.nav__item {
    margin: 1em 0 1em 2em;
    border: 1px solid red;
}

.nav__link {
    color: var(--color-black);
}

.nav__link--active {
    color: var(--color-yellow) ;
}

.link--nav {
    text-decoration: none;
}

.nav__toggle {
    height: 5vh;
    width: 5vh;
    border: none;
    background: var(--color-yellow);
}

.nav__toggle:hover {
    cursor: pointer;
}

.link--nav:hover,
.link--nav:focus {
    color: var(--color-green);
}

/* HAMBURGER */
.nav__hamburger {
    display: block;
    position: relative;
}

.nav__hamburger,
.nav__hamburger::before, 
.nav__hamburger::after {
    width: 2em;
    height: 3px;
    background: var(--color-white);
    margin: auto;
}

.nav__hamburger::before, 
.nav__hamburger::after {
    content: '';
    position: absolute;
    left: 0;
}

.nav__hamburger::before {
    bottom: 7px
}

.nav__hamburger::after {
    top: 7px
}

/* MAIN ARTICLE*/
.article__img-container {
    margin-top: 2em;
}

.article__img {
    aspect-ratio: 16/5;
    object-fit: cover;
}

.article__title,
.article__heading {
    color: var(--color-green);
}

.article__title {
    margin-bottom: 1em;
}

.article__subheading {
    font-weight: bold;
    margin-bottom: 1em;
}

.article__text {
    margin-bottom: 1.5em;
}

.article__list {
    margin: 0 0 2em 2em;
}

.article__list-item{
    list-style-image: url('../assets/Icons/Arrowhead-Right.svg');
    margin: 0.1em 0;
}

.article__list-item::marker{
    font-size: 3em ;
}

/* IMAGE GALLERY */
.article__gallery {
    border: 1px solid blue;
}

/* NEWS HEADER */
.news {
    border: 1px solid red;
    /* margin-top: var(--header-height); */
}


.news__header {
    border: 1px solid blue;
    margin-top: var(--header-height); 
}

.news__header-highlight {
    background: url('../assets/pics/Palms.jpeg');
    height: 20vh;
    display: flex;
    align-items: center;

}

.news__title {
    color: var(--color-yellow);
    text-transform: uppercase;
}

.breadcrumbs__nav {
    border: 1px solid green;
    background: var(--color-yellow);
}

.breadcrumbs__ul {
    display: flex;
    flex-direction: row;
}

.breadcrumbs__connection {
    margin: 0 1em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.breadcrumbs__arrow {
    height: 1.5em;
}

.breadcrumb--current {
    color: var(--color-white);
}

/* QUOTE */
.quote {
    background: linear-gradient(
        to right,
        var(--color-green-light) 0%,
        var(--color-green-light) 50%,
        var(--color-white) 50%,
        var(--color-white) 100%
    );
    display: flex;
    flex-direction: column;
    padding: 2em 0 0 20%;
}

.quote__quotee {
    align-self: flex-end;
}


/* ASIDE */
.section__container {
    width: 100%;
    max-width: 400px;
}

.section__bg {
    background: var(--color-green-light);
    padding: 2.5em;
    max-width: 500px;
    display: flex;
    flex-direction: column;
}

.section__title {
    color: var(--color-green-light);
    font-size: 5rem;
    line-height: 1em;
    position: relative;
    top: 0.05em;
}

.aside {
    border: 1px solid blue;
    margin: 0 0 5vh 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.aside__list {
    margin: 0 2.5em;
}

.svg-list-item {
    font-size: 5em;
    margin: 0.5em 0;
}

.svg-list-item::marker {
    
}

/* CONTACT */
.contact__phone,
.contact__time {
    margin: 0;
}

.contact__name {
    margin: 0.5em 0;
}

.contact__phone {
    list-style-image: url('../assets/Icons/Phone.svg');
}

.contact__time {
    list-style-image: url('../assets/Icons/Clock.svg');
}


/* DOWNLOADS */

.downloads__item:nth-child(even){
    list-style-image: url('../assets/Icons/File.svg');
}

.downloads__item:nth-child(odd){
    list-style-image: url('../assets/Icons/Image.svg');
}

.downloads__container {
    display: inline-block;
    padding: 1em;
}

.downloads__link {
    text-decoration: none;
}

.downloads__text {
    color: var(--color-ink);
}

.downloads__symbol {
    height: 2em;
    filter: invert(1);
}

/* LINKS */
.links__link {
    text-transform: uppercase;
}

.links__item {
    margin: 0;
}
.links-article {
    list-style-image: url('../assets/Icons/Link.svg');
}

.links-website {
    list-style-image: url('../assets/Icons/Extern-Link.svg');
}


/* QUESTIONS FORM */
.questions {
    border: 1px solid red;
    background-image: url('../assets/pics/Palms.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    color: var(--color-white);
    font-family: 'Montserrat', serif;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 2.4rem;
}

/* .questions__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
} */

.questions__group {
    margin-top: 0.8em;
    display: flex;
    flex-direction: column;
}

.questions__input {
    padding: 0.7em;
}

.questions__privacy-consent {
    margin-top: 1.5em;
    flex-direction: row;
    align-items: flex-start;
}

.questions__privacy-checkbox {
    margin-top: 0.35em;
}

.questions__submit {
    display: flex;
    justify-content: flex-end;
}

.submit__img-container {
}

.submit__img {
    height: 1em;
    filter: invert(1);
}






/* FOOTER */
.footer {
    border: 1px solid red;
    background: var(--color-ink);
}

.footer__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.footer__socials,
.footer__legal {
    width: 50%;
}

.footer__socials {
    display: flex;
    justify-content: flex-end;
}

.footer__socials-elem {
    background: var(--color-yellow);
    display: inline-block;
    padding: 0.5em;
    margin-left: 0.25em;
}

.footer__socials-elem__svg{
    height: 2em;
    filter: invert(1);
}

.footer__legal-link {
    margin-right: 1em;
}

.footer__copyright {
    color: var(--color-white);
}

/* MEDIA QUERIES */

@media screen and (min-width: 1024px){
    h1 {
        color: red !important;
    }

    .main-content-container {
        border: 5px solid green;
        display: flex;
        flex-wrap: wrap;
    }

    .main-aside-container {
        border: 5px solid orange;
        display: flex;
    }

    .aside-container {
        flex: 1 25%;

    }

    .news {
        flex: 1 75%;
    }

    .news__header {
        width: 100%;
    }
}