/* TABLE OF CONTENTS */

/* ITEM 1 */
/* ITEM 2 */
/* ITEM 3 */

/* BASIC STYLES AND COLORS*/
*, 
::before, 
::after {
    box-sizing: border-box;
}

:root{
    font-size: 62.5%;
    --color-black: #000;
    --color-ink: #2c3331;
    --color-white: #ffffff;
    --color-green: #2c594e;
    --color-green-middle: #758981;
    --color-green-light: #edefee;
    --color-yellow: #efb139;
}

img {
    /* display: block; */
    max-width: 100%;
}

.grid {
    display: grid;

}


/* FONT STYLES */

/* OSWALD */
@font-face {
    font-family: 'Oswald';
    src: url('../assets/fonts/Oswald/Oswald-ExtraLight.ttf');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Oswald';
    src: url('../assets/fonts/Oswald/Oswald-Light.ttf');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Oswald';
    src: url('../assets/fonts/Oswald/Oswald-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Oswald';
    src: url('../assets/fonts/Oswald/Oswald-Medium.ttf');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Oswald';
    src: url('../assets/fonts/Oswald/Oswald-SemiBold.ttf');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Oswald';
    src: url('../assets/fonts/Oswald/Oswald-Bold.ttf');
    font-weight: 700;
    font-style: normal;
}

/* MONTSERRAT */
@font-face {
    font-family: 'Montserrat';
    src: url('../assets/fonts/Montserrat/Montserrat-Light.ttf');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../assets/fonts/Montserrat/Montserrat-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}

/* TEXT */
h1 {
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-size: 6.4rem;
    line-height: 7.2rem;
}

h2 {
    font-family: 'Oswald', sans-serif;
    font-weight:600;
    font-size: 2.4rem;
    line-height: 3.4rem;
}

h3,
blockquote {
    font-family: 'Montserrat', serif;
    font-weight: 400;
    font-size: 2.0rem;
    line-height: 2.8rem;
}

h4 {
    font-family: 'Montserrat', serif;
    font-weight: 300;
    font-size: 1.4rem;
    line-height: 2.2rem;
}

p {
    font-family: 'Montserrat', serif;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 2.4rem;
}

.info {
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    font-size: 1.4rem;
    line-height: 2.0rem;
}

.link {
    font-family: 'Montserrat', serif;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 2.4rem;
    color: var(--color-yellow);
}

.breadcrumb,
.btn {
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 2.4rem;
    text-decoration: none;
    /* padding: 1em; */
    border: none;
    background: var(--color-yellow);
}

.breadcrumb:visited {
    color: inherit;
}

/* IMAGE ASPECT RATIO */

.container {
    border: 1px solid red;
    /* background-color: green; */
    margin: 1.5rem;
}

/* SECTIONS */

/* HEADER */
.header {
    background: var(--color-white);
    border: 1px solid red;
}

.header__logo {
    height: 6vh;
}

/* MAIN */
.news {
    border: 1px solid red;
}

/* ASIDE */
.section__bg {
    background: var(--color-green-light);
    padding: 2.5em;
}

.section__title {
    color: var(--color-green-light);
    font-size: 10rem;
}

.aside {
    border: 1px solid blue;
    margin: 1em 0;
}

/* CONTACT */

/* DOWNLOADS */
/* .downloads__list {
    list-style: circle;
} */

.downloads__container {
    display: inline-block;
}

.downloads__text {
    color: var(--color-ink);
    text-transform: uppercase;
}

.downloads__symbol {
    height: 1em;
    filter: invert(1);
}

/* QUESTIONS FORM */
.questions {
    border: 1px solid red;
    background-image: url('../assets/pics/Palms.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    color: var(--color-white);
    font-family: 'Montserrat', serif;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 2.4rem;
}

/* .questions__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
} */

.questions__group {
    margin-top: 0.8em;
    display: flex;
    flex-direction: column;
}

.questions__input {
    padding: 0.7em;
}

.questions__privacy-consent {
    margin-top: 1.5em;
    flex-direction: row;
    align-items: flex-start;
}

.questions__privacy-checkbox {
    margin-top: 0.35em;
}

.questions__submit {
    display: flex;
    justify-content: flex-end;
}

.submit__img {
    filter: invert(1);
}




/* FOOTER */
.footer {
    border: 1px solid red;
    background: var(--color-ink);
}

.footer__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.footer__socials,
.footer__legal {
    width: 50%;
}

.footer__socials {
    display: flex;
    justify-content: flex-end;
}

.footer__socials-elem {
    background: var(--color-yellow);
    display: inline-block;
    padding: 0.5em;
    margin-left: 0.25em;
}

.footer__socials-elem__svg{
    height: 2em;
    filter: invert(1);
}

.footer__legal-link {
    margin-right: 1em;
}

.footer__copyright {
    color: var(--color-white);
}